<div class="container">
    <center><h3>Sign In Please </h3></center>
    <div class="text-danger"> 
        @if (ViewData["loginInvalid"] != null)
        {
            <center><h3>@ViewData["loginInvalid"];</h3> </center>
            
        }
    </div>
<form asp-action="Login" >
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" name="Email" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" name="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      
    </div>

    
  </div>

  <!-- Submit button -->
  <button type="Submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a asp-action="Index">Register</a></p>
    
    

    
  </div>
</form>

</div>
